.App {
  text-align: center;
  color: #073944;
}

#search-input {
  font-size: larger;
  font-weight: bolder;
  padding: 8px 26px;
  width: 60%;
  margin-top: 20px;
  background-color: #ffffff;
  border: 1px solid #39a2db;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: #073944;
}

#search-input::placeholder {
  color: #073944;
}

#search-input:active {
  border: 1px solid #39a2db;
}

#movie-display-div {
  width: 95%;
  height: 400px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: transparent;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-corner {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #073944;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2f3640;
}

#searched-movie-display-div {
  width: 275px;
  height: 325px;
  border-radius: 10px;
  cursor: pointer;
}

.searched-movies-display-poster {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#movie-display-page-changer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

#page-changer-button {
  display: flex;
  gap: 20px;
}

#page-changer-button > button {
  border: 1px solid #073944;
  background-color: #39a2db;
  color: #073944;
  font-size: larger;
  font-weight: bolder;
  padding: 10px 20px;
  border-radius: 10px;
}

#home-page-description-div {
  border: 1px solid blue;
  width: 80%;
  margin: auto;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

#home-page-description-div > button {
  color: #073944;
  font-size: larger;
  font-weight: bolder;
  letter-spacing: 1px;
  padding: 10px 25px;
  border-radius: 10px;
  border: 2px solid #2f3640;
}

#home-page-description-div > button:hover {
  background-color: #42b4f1;
  cursor: pointer;
}
